{{#partial "contenido"}}
    <h1 style="padding: 25px">Mis consumos</h1>
    <div class="cliente">
        <div>
            <nav>
                <ul>
                    <li>
                        <a class="nav-links-cliente" href="hogar">Estado actual</a>
                    </li>
                    <li>
                        <a class="nav-links-cliente" href="consumos">Consumo por periodo</a>
                    </li>
                    <li>
                        <a class="nav-links-cliente" href="simplex">Simplex</a>
                    </li>
                </ul>

            </nav>
        </div>
        <div>
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="start-time">Fecha de inicio:</label>
                        <input type="datetime-local" id="start-time" name="start-time" class="form-control"
                               value="{{fechaInicio}}">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="end-time">Fecha de fin:</label>
                        <input type="datetime-local" id="end-time" name="end-time" class="form-control"
                               value="{{fechaFin}}">
                    </div>
                </div>
            </form>

            <button type="submit" name="submit">Buscar</button>
        </div>
        <div>
            <legend >Total: {{ultimoConsumo}}</legend>
        </div>
    </div>


{{/partial}}

{{>layout.hbs}}