{{#partial "contenido-cliente"}}
    <h1 style="padding: 25px">Mis consumos</h1>
    <div class="page-content" style="padding-left: 40px">
        <div>
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="start-time">Fecha de inicio:</label>
                        <input type="datetime-local" id="start-time" name="start-time" class="form-control"
                               value="{{fechaInicio}}">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="end-time">Fecha de fin:</label>
                        <input type="datetime-local" id="end-time" name="end-time" class="form-control"
                               value="{{fechaFin}}">
                    </div>
                </div>
            </form>

            <button type="submit" name="submit">Buscar</button>
        </div>
        <div>
            <legend style="padding-left: 40px">Total: {{ultimoConsumo}}</legend>
        </div>
    </div>


{{/partial}}
{{>cliente/clienteLayout.hbs}}


	