{{#partial "contenido-cliente"}}
    <h1 style="padding: 25px">Mi hogar</h1>
    <div class="page-content">
        <div class="consumos">
            <h5>Consumos</h5>
            <table class="table">
                <tbody>
                <tr>
                    <td>Octubre</td>
                    <td>{{ultimoConsumo}}kwh</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="dispositivos">
            <h5>Dispositivos</h5>
            <table class="table">
                <tbody>

                <tr>
                    <th>Dispositivo</th>
                    <th>Estado</th>
                </tr>

                {{#each dispositivos}}
                    <tr>
                        <td>{{nombre}}</td>
                        <td>{{estado}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>


{{/partial}}

{{>cliente/clienteLayout.hbs}}
