{{#partial "contenido"}}
    <h1 style="padding: 25px">Simplex</h1>
    <div class="cliente">
        <div>
            <nav>
                <ul>
                    <li>
                        <a class="nav-links-cliente" href="hogar">Estado actual</a>
                    </li>
                    <li>
                        <a class="nav-links-cliente" href="consumos">Consumo por periodo</a>
                    </li>
                    <li>
                        <a class="nav-links-cliente" href="/">Simplex</a>
                    </li>
                </ul>

            </nav>
        </div>
        <div class="dispositivos">
            <table class="table">
                <tbody>

                <tr>
                    <th>Dispositivo</th>
                    <th>Horas encendido</th>
                    <th>Horas recomendadas</th>
                </tr>

                {{#each dispositivos}}
                    <tr>
                        <td>{{nombre}}</td>
                        <td>{{cantidadDeHorasEncendido}}</td>
                        	{{#each solucionesSimplex}}
                        		<td>{{horasRecomendadas}}</td>
                        	{{/each}}
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>


{{/partial}}

{{>layout.hbs}}