{{#partial "contenido-cliente"}}
    <h1 style="padding: 25px">Simplex</h1>
    <div class="page-content">
        <div class="dispositivos">
            <table class="table">
                <tbody>

                <tr>
                    <th>Dispositivo</th>
                    <th>Horas encendido</th>
                    <th>Horas recomendadas</th>
                </tr>

                {{#each dispositivos}}
                    <tr>
                        <td>{{nombre}}</td>
                        <td>{{horasUsoMes}}</td>
                        	{{#each solucionesSimplex}}
                        		<td>{{horasRecomendadas}}</td>
                        	{{/each}}
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>


{{/partial}}

{{>cliente/clienteLayout.hbs}}