html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.article {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

header, main, footer {
    flex-shrink: 0;
}

.section {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    background: linear-gradient(90deg, midnightblue, blue);
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
}

.page-content {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.sge_name {
    color: white;
    font-family: Lucida Handwriting, Arial, sans-serif;
    font-size: 4em;
}

.navbar {
    list-style-type: none;
    padding: 0;
    color: white;
    background-color: midnightblue;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.footer {
    display: flex;
    bottom: 0;
    width: 100%;
    height: 2.5em;
    color: white;
    background-color: midnightblue;
    align-items: center;
    justify-content: center;
}

.footer p {
    margin: 0;
}

.nav-links {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-family: Arial, sans-serif;
}

.side-link-sge {

}

.sidebar-sge {
    display: flex;
    flex-direction: column;
    background: #e2e3e5;
    justify-content: center;
    border: 1px solid transparent;
    border-radius: .55rem;
}

.form {
    /* Sólo para centrar el formulario a la página */
    margin: 0 auto;
    width: 335px;
    /* Para ver el borde del formulario */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    background-color: #1A3A92;
}

.form div + div {
    margin-top: 1em;
}

.sge-input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    background-color: #e2e3e5;
}

input, textarea {
    /* Para asegurarse de que todos los campos de texto tienen las mismas propiedades de fuente
       Por defecto, las areas de texto tienen una fuente con monospace */
    font: 1em sans-serif;

    /* Para darle el mismo tamaño a todos los campos de texto */
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* Para armonizar el look&feel del borde en los campos de texto */
    border: 1px solid #999;
}

input:focus, textarea:focus {
    /* Para dar un pequeño destaque en elementos activos*/
    border-color: #000;
}

textarea {
    /* Para alinear campos de texto multilínea con sus labels */
    vertical-align: top;

    /* Para dar suficiente espacio para escribir texto */
    height: 5em;

    /* Para permitir a los usuarios cambiar el tamaño de cualquier textarea verticalmente
        No funciona en todos los navegadores */
    resize: vertical;
}

.button {
    /* Para posicionar los botones a la misma posición que los campos de texto */
    padding-left: 90px; /* mismo tamaño a todos los elementos label */
}

button {
    /* Este margen extra representa aproximadamente el mismo espacio que el espacio
       entre los labels y sus campos de texto */
    margin-left: .5em;
}