{{#partial "contenido"}}

    <div class="p-3 mb-2 bg-danger text-white">
        <p><strong>Error 401</strong></p>
        <p>No tienes permiso para acceder a esta página.</p>
    </div>

{{/partial}}

{{>layout.hbs}}