{{#partial "contenido"}}
    <h1>Consumo de dispositivos</h1>
    <fieldset>
        <p>Selección de Hogar</p>
        <div>
            <label for="cliente-choice">Elije un cliente:</label>
            <input list="clientes" id="cliente-choice" name="cliente-choice">
            <datalist id="clientes">
                {{#each clientes}}
                    <option value="{{id}}">{{nombre}} {{apellido}}</option>
                {{/each}}
            </datalist>
        </div>
    </fieldset>

    <div id="reportes-list">
        <div class="alert alert-secondary" role="alert">
            No hay ningún cliente seleccionado
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        var inp = document.querySelector('#cliente-choice');
        inp.addEventListener('change', function() {
            var value = this.value;
            var opt = [].find.call(this.list.options, function(option) {
                return option.value === value;
            });
            if(opt) {
                actualizarReporte(value);
                this.value = opt.textContent;
            }
        });

        function actualizarReporte(idToSend) {
            console.log(idToSend);
            $.ajax({
                type: "GET",
                url: "/administrador/hogares/" + idToSend + "/dispositivos",
                dataType: "html",
                success: function (res) {
                    var reportes = document.getElementById("reportes-list");
                    reportes.innerHTML = res;
                }
            });
        }
    </script>


{{/partial}}
{{>layout.hbs}}