<h1>Dispositivos</h1>

{{#if hayDispositivos}}
    <table class="table">
        <tbody>

        <tr>
            <th>Dispositvo</th>
            <th>Consumo Promedio</th>
        </tr>

        {{#each consumos}}
            <tr>
                <td>{{nombreDispositivo}}</td>
                <td>{{consumoPromedio}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
{{else}}
    <div class="alert alert-secondary" role="alert">
        Este cliente no tiene dispositovos registrados
    </div>
{{/if}}