<!DOCTYPE html>
<html lang="es">

<head>
    <title>Sistema de Gestión Energética</title>
    <link rel="stylesheet" href="main.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
<section class="section">
    <header class="header">
        <h1 class="sge_name">S.G.E.</h1>
    </header>
    <nav>
        <ul class="navbar">
            <li>
                <a class="nav-links" href="/">Home</a>
            </li>
            <li>
                <a class="nav-links" href="/">Otro link</a>
            </li>
        </ul>
    </nav>
    <div class="container">
        {{#block "contenido"}}
        {{/block}}
    </div>
    <footer class="footer">
        <p class="text-center">
            &copy; 2018 sge.com
        </p>
    </footer>
</section>


</body>
</html>