{{#partial "contenido"}}

    <form method="post" action="/login">
        {{#if invalid}}
            <div class="alert alert-danger">
                El Usuario o la Contraseña son incorrectos
            </div>
        {{/if}}
        <div>
            <label for="username">Usuario</label>
            <input type="text" name="username"/>
        </div>
        <div>
            <label for="password">Contraseña</label>
            <input type="password" name="password"/>
        </div>
        <div><input type="submit"></div>
    </form>

{{/partial}}

{{>layout.hbs}}