{{#partial "contenido"}}

    <form method="post" action="/login" class="form">
        {{#if invalid}}
            <div class="alert alert-danger">
                El Usuario o la Contraseña son incorrectos
            </div>
        {{/if}}
		<div style="text-align: center">
			<h4 style="color:white;">Iniciar sesión</h4>
		</div>
        <div>
            <input type="text" name="username" placeholder="Usuario"/>
        </div>
        <div>
            <input type="password" name="password" placeholder="Contraseña"/>
        </div>
        <div style="text-align: right">
        	<button type="submit" name="submit">Ingresar</button>
        </div>
    </form>

{{/partial}}

{{>layout.hbs}}